body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.spotify-header {
  background-color: black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-div img {
  width: 40px;
  height: auto;
}

.center-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-button {
  background-color: #1f1f1f;
  border: none;
  padding: 12px; /* Adjust padding for size */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Makes it a circle */
}

.home-icon {
  width: 24px; /* Adjust the size as needed */
  height: 24px;
}

.search-bar {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  width: 300px;
  margin: 0 auto; /* Center the search bar in the header */
}

.search-bar::placeholder {
  color: #aaa;
}

.register-btn, .login-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 20px;
}

.login-btn {
  background-color: white;
  color: black;
  padding: 5px 15px;
}

/* #sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 70px;
  left: 5px;
  border-radius: 5px;
  height: calc(100vh - 160px);
  background-color: #121212;
} */
#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 84vh; */
  height: calc(100vh - 160px);
  min-width: 250px;
  background-color: #121212;
  padding: 20px;
  border-radius: 5px;
}

.nav {
  flex-grow: 1;
}

.sidebar-footer {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid #333; /* Optional divider */
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 0.875rem;
}

.footer-links a:hover {
  color: #fff;
}

.language-button {
  display: flex;
  align-items: center;
  background-color: #121212; /* Matches parent background color */
  border: 1px solid white; /* White border */
  border-radius: 20px; /* Rounded corners */
  color: #fff;
  padding: 8px 12px;
  font-size: 0.875rem;
  cursor: pointer;
}

.language-button img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.background-gradient{
  background: linear-gradient(to bottom, #222222, #0f0f0f);
}

#main-content {
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: calc(100vh - 160px);
  padding-bottom: 20px; 
}

/* Custom Scrollbar Styling */
.custom-scrollbar {
  overflow-y: auto; /* Allows scrolling */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #333;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 5px;
  border: 2px solid #333;
}

.custom-scrollbar.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

/* Hide scrollbar for Firefox */
.custom-scrollbar.hide-scrollbar {
  scrollbar-width: none;
}

.artist{
  width: 14%;
  height: auto;
}

.artist img{
  width: 100%;
  height: auto;
  border-radius: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.album-grid {
  padding: 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  max-height: 330px;
  justify-content: center;
}

.album {
  text-align: center;
  width: 14%;
  height: auto;
}

.album img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.player-controls button {
  margin: 0 10px;
}

#carouselExampleIndicators{
  height: 20vh;
}

.carousel-inner{
  height: 100%;
  width: 60%;
  margin: 0 auto;
}

.carousel-item{
  height: 100%;
}

#carouselExampleIndicators .carousel-item img {
  height: 100%;           /* Ensures the image fills the full height of the carousel item */
  width: auto;             /* Scales width proportionally */
  object-fit: contain;     /* Scales the image to fit within the container without cropping */
  object-position: center; /* Centers the image within the container */
  margin: 0 auto;          /* Ensures the image stays horizontally centered */
}

/* Form style */

#main-content-add-album{
  border-radius: 5px;
  margin-left: 5px;
  height: calc(100vh - 160px);
  padding-bottom: 20px;
  height: 450px;
}

/* Gallery style */

#gallery-div {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100% - 250px); 
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 160px); 
  border-radius: 5px;
  justify-content: center;
}

.gallery-image {
  width: 200px; 
  text-align: center;
}

.gallery-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.gallery-image p {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #ccc;      
}

.lightbox {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure it appears above everything */
}

.lightbox-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 10000; /* Ensure it’s clickable above other elements */
}

.lightbox-close:hover {
  color: red; /* Optional: Highlight on hover */
}

/* Premium page*/
#body-prem{
  background-color: #121212;
  /* font-family: 'Arial', sans-serif; */
  color: white;
  margin: 0;
  padding: 0;
}

#header-prem {
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-div-prem{
  display: flex;
  align-items: center;
  /* margin-left: 5%; */
}

#logo-div-prem img {
  width: 40px;
  margin-right: 10px;
  height: auto;
}

#logo-div-prem h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
 
#nav-prem {
  display: flex;
  gap: 5px;
  margin-right: 10%;
}

.hero-section {
  background: 
    /* url('img/premiumLogo.png') right top no-repeat, Add your image */
    linear-gradient(to bottom, #7d2f95, #121212); /* Gradient overlay */
  background-size: 250px auto, cover; /* Adjust image size and gradient */
  background-position: right top, center; /* Adjust positions */
  padding: 100px 0;
  width: 100%;
  color: white;
}


.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: linear-gradient(to bottom,  #7d2f95 0%, #121212 40%);
  color: white;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.hero-text {
  flex: 1;
  max-width: 60%; 
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  margin-left: 10%;
}

.hero-text small {
  display: block;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #ccc;
}

.hero-text div button{
  border-radius: 20px;
}

.hero-text div .btn-primary{
  background-color: #7d2f95;
  border: none;
}

.hero-text div button.btn-primary:hover{
  background-color: #622375;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 300px; /* Adjust the size of the image */
  height: auto;
}


#statement{
  width: 60%;
}

.features-section {
  background-color: #222;
}

.feature-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

footer {
  background-color: black;
  text-align: center;
  padding: 10px 0;
}

/* When viewport is smaller than 300px, make the image a background */
@media (max-width: 500px) {
  .hero-section {
    background: 
      url('img/premiumLogo.png') top no-repeat, 
      linear-gradient(to bottom, #7d2f95 0%, #121212 50%);
    background-size: contain; /* Ensure the image fits within the section */
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    text-align: center;
  }

  .hero-content {
    display: block; /* Switch to block layout */
  }

  .hero-image {
    display: none; /* Hide the separate image */
  }

  .hero-text {
    max-width: 100%;
  }
}